body {
	background: 
		linear-gradient(
			rgba(106, 19, 19,100%),
			rgba(106, 19, 19,90%),
			rgba(106, 19, 19,75%),
			rgba(106, 19, 19,50%),
			rgba(106, 19, 19,35%),
			rgba(106, 19, 19,10%));
	font-family: Finger Paint;
	height: 900px;
}
h1 {
	font-family: Amatic SC;
	background-color: orange;
	text-align: center;
}
a{
	text-decoration: none;
	color:white;
}
a:hover{
	color:orange;
}